.serviceText {
    text-align: start;
    padding-left: 0.5rem; 
    /* padding-right: 0.25rem; */
}

.serviceText h2 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.8rem;
}

.serviceText p {
    font-size: 1rem; 
    line-height: 1.6rem; 
}


@media (min-width: 1440px) {

    .serviceText {
        padding-left: 2rem;
        /* padding-right: 1rem; */
        text-align: start;     
    }

    .serviceText h2 {
        padding-bottom: 2rem;
        font-size: 2.3rem;
        text-align: start;
    }

    .serviceText p {
        padding-bottom: 2rem;
        padding-right: 1rem;
        font-size: 1.4rem;
        line-height: 2rem;
    }

}


