.serviceText {
    text-align: start;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.serviceText h2 {
    text-align: center;
    padding-bottom: 2rem;
}


@media (min-width: 1440px) {

    .serviceText {
        padding-left: 2rem;
        padding-right: 1rem;
        text-align: start;     
    }

    .serviceText h2 {
        padding-bottom: 2rem;
        font-size: 2.3rem;
    }

    .serviceText p {
        padding-bottom: 2rem;
        padding-right: 1rem;
        font-size: 1.4rem;
        line-height: 2rem;
    }

}


