/*****************************************
 Estilo para el navbar en modo mobile
 *****************************************/

nav {
  width: 100%;
}

.navbar-mobile {}

.nav-mobile-container {
  width: 100%;
  position: relative;
}

.nav-mobile-header {
  max-width: 100%;
  height: 50px;
  padding: 1rem;
}

.nav-mobile-header.expanded {
  background-color: #fafafa;
}

.nav-mobile-header.expanded label span {
  background: #000 !important;
}

.nav-mobile-body {
  position: absolute;
  top: 50;
  left: 0;
  width: 100%;
  height: calc(100vh - 200px);
  background-color: #fafafa;
  padding-top: 100px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s ease-in-out, transform 0.2s ease-in-out;
}

.nav-mobile-body.visible {
  opacity: 1;
  transform: scale(1);
}

.nav-mobile-body ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-mobile-body li {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding: 1rem 0;
}

.nav-mobile-body li .linkTo {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.nav-mobile-body li .linkTo:hover {
  text-decoration: none;
  color: rgb(121, 79, 79);
}


/*****************************************
 Estilo para el navbar en modo desktop
 *****************************************/

.nav-desktop-body {
  width: 100%;
  height: 82px;
  display: flex;
  align-items: center;
}


.nav-desktop-body ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-desktop-body li {
  list-style: none;
  text-decoration: none;
}

.nav-desktop-body li .linkTo {
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding: 0 3rem;
}

.nav-desktop-body li .linkTo:hover {
  text-decoration: none;
  color: rgb(121, 79, 79);
}