/*****************************************
 Estilo para el navbar en modo mobile
 *****************************************/

nav {
  width: 100%;
}

.nav-mobile-container {
  position: relative;
}

.nav-mobile-header {
  width: 100%;
  height: 50px;
  padding: 1rem;
}

.nav-mobile-header.expanded {
  background-color: #ababab;
}

.nav-mobile-header.expanded label span {
  background: #fff !important;
}

.nav-mobile-body {
  position: absolute;
  top: 50;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #ababab;
  padding-top: 100px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s ease-in-out, transform 0.2s ease-in-out;
}

.nav-mobile-body.visible {
  opacity: 1;
  transform: scale(1);
}

.nav-mobile-body ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-mobile-body li {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding: 1rem 0;
}

.nav-mobile-body li .linkTo {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.nav-mobile-body li .linkTo:hover {
  text-decoration: none;
  color: rgb(121, 79, 79);

}








/*****************************************
 Estilo para el navbar en modo desktop
 *****************************************/




.nav-mobile-body {}


.nav-mobile-items-container {}