.hero-container {

margin: 0 auto;
    background-image: url('../../../assets/abstract_background_3.jpg');
    background-size: cover;

    background-position: left;

    background-repeat: no-repeat;


    height: 700px;
    border: 2px solid red;

}