.about {
    padding: 3rem 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.about__text--1 {
    grid-row: 1;
    grid-column: 1 / span 2;
    line-height: 2rem;
}

.about__text--2 {
    grid-row: 2;
    grid-column: 1 / span 2;
    line-height: 2rem;
}


/* Media query for devices with a maximum width of 600 pixels */
@media only screen and (min-width: 768px) {

    .about {
        padding: 5rem 1rem;
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .about__text--1 {
        grid-row: 1;
        grid-column: 1;
        line-height: 2rem;
        padding-right: 1rem;
        text-align: justify;
    }
    
    .about__text--2 {
        padding-left: 1rem;
        grid-row: 1;
        grid-column: 2;
        line-height: 2rem;
        text-align: justify;
    }

}